In [1]:
import pandas as pd 
import numpy
import matplotlib.pyplot as plt

df = pd.read_csv("./data.csv")
print(df.shape)
df.head()

(734, 12)

,Unnamed: 0,BIOMASS,CCGT,COAL,NPSHYD,NUCLEAR,OCGT,OIL,OTHER,PS,WIND,INT
0,0,2788,5869,353,373,3679,4,0,234,-322,13262,2645.0
1,1,2357,9517,447,397,3527,4,0,261,-16,9471,3488.0
2,2,2861,11972,839,523,3493,22,0,310,-139,9797,763.0
3,3,3023,18943,1412,587,3052,147,0,515,143,1270,4071.0
4,4,2783,18337,1369,558,3055,24,0,459,27,2153,2700.0

In [2]:
df.drop("Unnamed: 0",axis=1, inplace=True)
df.columns

Index(['BIOMASS', 'CCGT', 'COAL', 'NPSHYD', 'NUCLEAR', 'OCGT', 'OIL', 'OTHER',
       'PS', 'WIND', 'INT'],
      dtype='object')

In [ ]:
columns = df.columns
only_int = columns[3:13]
only_renew = columns[[0,-1,-2,13]]
only_fos  = columns[[2,-4, -5]]
only_mid = columns[[1, -3, -6]]


gen_summed = df[columns].sum().values
int_summed = df[only_int].sum().values

columns_inters_joined = list(columns[:3]) + ["CONNECTIONS"] + list(columns[13:])
gen_summed_inters_joined = list(gen_summed[:3]) + [int(int_summed.sum)] + list(gen_summed[13:])


categories_summed = [df[only_int].sum().values.sum(), df[only_renew].sum().values.sum(), df[only_fos].sum().values.sum(), df[only_mid].sum().values.sum()]

In [ ]:
gen

['BIOMASS',
 'CCGT',
 'COAL',
 'CONNECTIONS',
 'NPSHYD',
 'NUCLEAR',
 'OCGT',
 'OIL',
 'OTHER',
 'PS',
 'WIND']